@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
  scroll-behavior: smooth;
  --main-gray: rgb(219, 238, 251);
  --border-graycontainer: 2px solid rgb(243, 247, 251);
  --footer-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  --button-shadow: 3px 3px rgb(147, 146, 146);
  --contact-color: rgb(48, 72, 87);
  --tel-button: rgb(59, 113, 142);
  --buttons: rgb(222, 230, 239);
  --title-color: rgb(133, 131, 131);
  font-family: "Poppins", sans-serif;
  top: 0;
  margin: -8px;
  padding-top: 1px;
  padding-bottom: 9.5rem;
  text-align: center;
  background: var(--main-gray);
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 800px) {
  .container {
    transform: scale (0.8);
  }
}
@media (max-width: 600px) {
  .container {
    transform: scale (0.7);
  }
}
@media (max-width: 400px) {
  .container {
    transform: scale (0.5);
  }
}

.topNav {
  display: flex;
  justify-content: space-between;
  background: white;
  width: 100%;
  height: 105px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid rgb(205, 204, 204);
  font-family: "Poppins", sans-serif;
}
.navBox {
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
}
@media (max-width: 950px) {
  .navBox {
    flex-direction: column;
    margin-right: 0px;
    margin-top: 0px;
    background: white;
    opacity: 0.9;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(169, 168, 168);
    width: 200px;
    height: auto;
    padding: 15px;
  }
}
@media (max-width: 400px) {
  .navBox {
    margin-left: -60px;
  }
}
.hideMenu {
  display: none;
}
@media (max-width: 950px) {
  .hideMenu {
    display: block;
    font-size: 24px;
    border: none;
    width: 40px;
    height: 30px;
    padding: 3px;
    margin-top: 30px;
    margin-right: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgb(169, 168, 168);
  }
}
.topNav li {
  list-style-type: none;
  margin-right: 30px;
  float: right;
  font-weight: bold;
  display: block;
}
@media (max-width: 950px) {
  .topNav li {
    margin-top: 5px;
    text-align: left;
    padding-bottom: 10px;
    margin-right: 10px;
  }
}
.topNav img {
  width: 105px;
  height: 85px;
  margin-top: -90px;
  margin-left: 110px;
  float: left;
}
.navLink {
  color: rgb(59, 58, 58);
  text-decoration: none;
}
.navLink:hover {
  color: rgb(34, 101, 164);
}
.languageBtn {
  width: 50px;
  height: 35px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 44vw;
  margin-top: 0.5px;
  margin-right: 0.5px;
  right: 0;
  z-index: 30;
  top: 0;
  position: fixed;
  background: #06344e;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px rgb(169, 168, 168);
}
@media (max-width: 950px) {
  .languageBtn {
    margin-left: 0.5px;
    left: 0;
  }
}
.languageBtn:hover {
  background: #094b72;
}

.homeBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  margin-top: 100px;
  margin-bottom: -80px;
  background-size: cover;
  background-image: url("/202008.jpg");
}
.homeBackground h1 {
  text-shadow: 4px 4px rgba(0, 0, 0, 0.7);
  font-weight: 800;
  font-size: 78px;
  color: white;
}
@media (max-width: 950px) {
  .homeBackground h1 {
    transform: scale(0.9);
  }
}
@media (max-width: 450px) {
  .homeBackground h1 {
    transform: scale(0.65);
  }
}

.title {
  font-size: 40px;
  font-weight: 700;
  text-shadow: 2px 3px 0px rgb(42, 42, 42);
  padding: 20px 0 10px 0;
  color: var(--title-color);
}

.cardContainer {
  margin-top: 9rem;
  margin-bottom: -5rem;
  padding-bottom: 10px;
  background: white;
  width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px rgb(167, 168, 169);
}
@media (max-width: 800px) {
  .cardContainer {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .cardContainer {
    width: 85%;
  }
}
@media (max-width: 400px) {
  .cardContainer {
    width: 90%;
  }
}
.cardContainer img {
  animation: fadeBackground 6s;
  animation-fill-mode: forwards;
  width: 94%;
  height: auto;
  box-shadow: 0 0 15px 2px rgb(128, 127, 127);
  margin-top: 18px;
  margin-bottom: 10px;
}

.cardContainer p {
  padding: 0 25px;
}

.names {
  margin-bottom: -8px;
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
  text-shadow: 2px 1px 0px rgb(91, 90, 90);
  color: rgb(53, 52, 52);
}
.pilotImg {
  max-width: 300px;
  height: auto;
  margin-bottom: 5px;
  border-radius: 50%;
}
.pilotsAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.footer {
  background: rgb(30, 58, 78);
  width: 100%;
  min-height: 300px;
  padding: 8px;
  margin-left: -8px;
  margin-bottom: -8px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
@media (max-width: 800px) {
  .footer {
    transform: scale (0.7);
  }
}
@media (max-width: 600px) {
  .footer {
    transform: scale (0.6);
  }
}
@media (max-width: 400px) {
  .footer {
    transform: scale (0.4);
  }
}

.footerTitle {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 40px;
  text-shadow: var(--footer-shadow);
}
.footer p {
  margin-top: -10px;
  margin-bottom: 50px;
}
.footer a {
  text-decoration: none;
  color: white;
  margin: -5px 35px 8px 6px;
  position: relative;
}
.footer a:hover {
  transform: scale(1.1);
}
.footerBottom {
  margin-left: 10px;
}
.socialMedia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 24px;
  text-shadow: var(--footer-shadow);
}
.orangeLine {
  width: 100%;
  height: 1.5px;
  background: rgb(246, 105, 49);
  margin-top: 40px;
  margin-bottom: 15px;
}

.buttons {
  width: auto;
  height: 35px;
  font-size: 17px;
  background: var(--buttons);
  border: none;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 3px 3px rgb(176, 176, 176);
}
.buttons:hover {
  box-shadow: 4px 4px 3px rgb(173, 172, 172);
  transform: scale(1.02);
}
.btnLink {
  color: rgb(39, 38, 38);
  font-weight: bold;
  text-decoration: none;
  padding: 8px;
}

.telBtn {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  background: var(--tel-button);
  font-size: 28px;
  border: none;
  margin-top: 30px;
  margin-right: 15px;
  margin-bottom: 20px;
  box-shadow: var(--button-shadow);
  padding-top: 8px;
}
.telBtn:hover {
  box-shadow: 4px 4px 3px rgb(155, 154, 154);
  transform: scale(1.03);
}
.telBtn a {
  color: white;
  text-decoration: none;
  padding-left: 5px;
}

.whatsAppBtn {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  background: rgb(20, 188, 20);
  font-size: 28px;
  border: none;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 15px;
  box-shadow: var(--button-shadow);
  padding-top: 8px;
}
.whatsAppBtn:hover {
  box-shadow: 4px 4px 3px rgb(155, 154, 154);
  transform: scale(1.03);
}
.whatsAppBtn a {
  color: white;
  text-decoration: none;
}

.contactPage {
  display: flex;
  flex-direction: column;
}
.contactBox {
  width: 80vw;
  background: var(--contact-color);
  color: white;
  margin-top: 9rem;
  margin-bottom: -5rem;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  padding-top: 40px;
  text-align: left;
}
@media (max-width: 800px) {
  .contactBox {
    width: 85vw;
  }
}
@media (max-width: 500px) {
  .contactBox {
    width: 95vw;
  }
}
.mapBox {
  margin-top: 9rem;
  margin-bottom: -5rem;
}
.formInput {
  height: 30px;
  width: 35vw;
  border-radius: 5px;
  margin-top: 3px;
  margin-bottom: 20px;
  border: 1px solid gray;
}
@media (max-width: 800px) {
  .formInput {
    width: 73.5vw;
  }
}
@media (max-width: 500px) {
  .formInput {
    width: 85vw;
  }
}
.textareaText {
  margin-left: 4%;
}
@media (max-width: 800px) {
  .textareaText {
    margin-left: 6%;
  }
}
@media (max-width: 500px) {
  .textareaText {
    margin-left: 5%;
  }
}
.formTextarea {
  min-height: 16vh;
  width: 73.5vw;
  border-radius: 5px;
  margin-top: 3px;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .formTextarea {
    width: 85vw;
  }
}
.formButton {
  height: 35px;
  width: 150px;
  background: rgb(45, 151, 54);
  color: white;
  font-size: 17px;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 1.8vw;
  border-radius: 5px;
  cursor: pointer;
}
.formButton:hover {
  background: rgb(45, 162, 55);
}

.whatsapp {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: rgb(22, 206, 22);
  position: fixed;
  font-size: 44px;
  margin-left: 90vw;
  margin-bottom: 5vh;
  border: 3px solid rgb(2, 188, 18);
  bottom: 0;
  z-index: 20;
}
@media (max-width: 800px) {
  .whatsapp {
    margin-left: 88vw;
  }
}
@media (max-width: 600px) {
  .whatsapp {
    display: none;
  }
}

.whatsapp a {
  text-decoration: none;
  color: white;
}

.callUs {
  text-decoration: none;
  color: white;
  padding: 8px;
}

/* weather css */
.weatherContainer {
  width: 90%;
  margin: 20px auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}
@media (max-width: 450px) {
  .weatherContainer {
    flex-direction: column;
    width: 100%;
  }
}
.search {
  width: 400px;
  margin: 10px auto;
  box-shadow: 3px 4px 10px rgb(63, 64, 66);
}
@media (max-width: 1350px) {
  .search {
    margin: 10px auto;
  }
}
@media (max-width: 600px) {
  .search {
    width: 90%;
  }
}
.locations {
  display: flex;
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 1350px) {
  .locations {
    flex-direction: column;
  }
}
.placeholderText {
  margin-left: 30px;
  font-weight: bold;
  text-align: left;
}
.palceholderIcon {
  margin-bottom: -28px;
  text-align: left;
}

.top {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#06344e, #054c75, #011738);
  box-shadow: 3px 4px 15px rgb(63, 64, 66);
  margin: 20px auto 10px auto;
  border-radius: 5px;
  max-width: 1150px;
  padding: 5px;
}
@media (max-width: 1350px) {
  .top {
    flex-direction: column;
    width: 75%;
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .top {
    flex-direction: column;
    width: 94%;
  }
}
.top img {
  max-width: 550px;
  max-height: 300px;
  border-radius: 3px;
}
@media (max-width: 1350px) {
  .top img {
    max-width: 1350px;
    max-height: 550px;
    margin: -5px -5px 0px -5px;
  }
}
.weather {
  width: 100%;
  color: white;
  border-radius: 5px;
  line-height: 1.8;
  text-align: right;
}
@media (max-width: 1350px) {
  .weather {
    margin-top: 5px;
  }
}
.topWeather {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  text-align: right;
  margin-bottom: 25px;
}
@media (max-width: 1350px) {
  .topWeather {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
.bottomWeather {
  display: flex;
}
@media (max-width: 1350px) {
  .bottomWeather {
    flex-direction: column;
  }
}
.datas1 {
  display: flex;
  justify-content: space-between;
  flex: 1 1;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 4%;
}
@media (max-width: 1350px) {
  .datas1 {
    margin: 10px 0px 0px 0px;
  }
}
.datas2 {
  display: flex;
  justify-content: space-between;
  flex: 1 1;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 4%;
}
@media (max-width: 1350px) {
  .datas2 {
    margin: 20px 0px 0px 0px;
  }
}
.city {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}
@media (max-width: 1350px) {
  .city {
    font-size: 24px;
  }
}
.descriptionTop {
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 8px;
}
.weatherIcon {
  width: 50px;
  margin-right: 10px;
}
@media (max-width: 1350px) {
  .weatherIcon {
    margin-right: 0px;
  }
}
.row {
  display: flex;
  justify-content: space-between;
}
.windBox {
  line-height: 2;
  padding-right: 10px;
}
@media (max-width: 1350px) {
  .windBox {
    padding-right: 10px;
  }
}

.forecast {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px auto 10px auto;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.8;
  background: linear-gradient(#06657d, #194270, #071a37);
  box-shadow: 3px 4px 15px rgb(63, 64, 66);
  color: white;
  cursor: pointer;
}
@media (max-width: 1350px) {
  .forecast {
    flex-direction: column;
    width: 75%;
    background: linear-gradient(0.25turn, #06657d, #194270, #071a37);
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .forecast {
    width: 94%;
  }
}
.forecastBottom {
  background: linear-gradient(#0e264d, #24486a, #284969);
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
  border-radius: 3px;
  margin-left: -10px;
  width: 110px;
}
@media (max-width: 1350px) {
  .forecastBottom {
    justify-content: space-between;
    background: linear-gradient(0.25turn, #0e264d, #24486a, #284969);
    border-radius: 0px;
    margin-left: -10px;
    padding-left: 20px;
    margin-right: -10px;
    padding-right: 20px;
    margin-bottom: 8px;
    width: auto;
  }
}
.hours {
  font-weight: 600;
  margin-right: 15px;
}
@media (max-width: 1350px) {
  .hours {
    text-align: left;
    margin-top: 5px;
    margin-left: 4px;
    padding-left: 10px;
  }
}
.iconAlign {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 5px;
}
@media (max-width: 1350px) {
  .iconAlign {
    text-align: left;
    margin-bottom: -95px;
    padding-left: 10px;
  }
}
.iconSmall {
  width: 40px;
  margin-bottom: -5px;
}
.day {
  font-weight: 600;
  font-size: 20px;
  width: 165.5px;
  text-align: left;
}
.dayDate {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  font-size: 14px;
  text-align: left;
}
@media (max-width: 1300px) {
  .dayDate {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 13px;
  }
}
.description {
  font-size: 12px;
  line-height: 0.8;
  margin: 0;
  padding-bottom: 18px;
}
@media (max-width: 1350px) {
  .description {
    line-height: 0.8;
  }
}
.details {
  width: 100%;
  line-height: 1.8;
  text-align: right;
}
.minMax {
  display: flex;
  justify-content: flex-end;
}
.hide {
  display: none;
}
.line {
  display: none;
}
@media (max-width: 1350px) {
  .line {
    display: block;
    width: 100%;
    height: 0.5px;
    background: #d3d3d3;
  }
}
.windIcon {
  font-size: 24px;
  margin-bottom: 5px;
}
.spacing {
  line-height: 1.8;
  width: 80px;
}
.dayContainer {
  display: flex;
  flex-direction: column;
}

.weatherButton {
  width: 100px;
  height: 45px;
  background: #06344e;
  border: none;
  border-radius: 3px;
  margin-left: 0.5px;
  margin-top: 58px;
  box-shadow: 0px 0px 5px 1px rgb(169, 168, 168);
}
.weatherButton a {
  font-size: 17px;
  margin-top: 5px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
@media (max-width: 450px) {
  .weatherButton a {
    font-size: 16px;
    margin-top: 56px;
  }
}
.weatherButton:hover {
  background: #094b72;
}
.arrows {
  text-align: center;
  font-size: 20px;
  margin-bottom: -12px;
  margin-top: 5px;
  margin-right: 10px;
}
